.Menu {
  height: 100%;
  background: #fff;
  position: fixed;
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  width: 70%;
  max-width: 300px;
  text-align: left;
  padding: 40px 30px;
  z-index: 49;
  border-radius: 6px;
  transform: translateX(-101%);
  transition: transform 0.4s ease-in-out;
}

.Menu.open {
  transform: translateX(0);
}

.Menu h2 {
  color: #3498db;
  letter-spacing: 1px;
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
}

.Menu-icon {
  color: #3498db;
  padding-right: 25px;
  font-size: 20px;
  display: inline-block;
}

.Menu ul {
  margin-top: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.Menu ul li {
  margin: 10px 0;
}

.Menu li a {
  text-decoration: none;
  color: #c3c3c3;
}

.Menu-divider {
  width: 100%;
  background-color: #cacaca;
  height: 1px;
}

.Menu-button {
  width: 75%;
  padding: 10px 50px;
  border-radius: 50px;
  background: transparent;
  border: 2px solid #cacaca;
  color: #989898;
  font-size: 16px;
}

.Menu-footer {
  height: 100%;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Menu-logo {
  color: #3498db;
  margin-top: 35px;
}
