.Blurred {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 39;
}

.Blurred-exit {
  color: #c3c3c3;
  z-index: 40;
  font-size: 30px;
  position: fixed;
  top: 0;
  right: 0;
  padding: 18px;
}
