.App {
  text-align: center;
}

.App-header {
  background-color: #2980b9;
  height: 200px;
  padding: 10px;
  color: white;
}

.App-header h1 {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  margin-bottom: 0;
}

.App-currency {
  margin: 0;
  font-size: 1.5rem;
}

.App-currency small {
  font-size: 0.8rem;
  text-transform: uppercase;
}
